.matchWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  margin-bottom: 50px;
}

.spinner {
  align-self: center;
}

@media only screen and (max-width: 1000px) {
  .chat {
    display: none;
  }
  .userPlaying{
    display: none;
  }
}
