.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;

  //background: url("https://logos.textgiraffe.com/logos/logo-name/Caro-designstyle-summer-m.png");
  z-index: 100;
}

.siteLayout .siteLayoutBackground {
  background: #fff;
}

.siteLayout .siteLayoutBackgroundUser {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}